<div class="row">
    {{#each files}}

    <div class="col-sm-3 d-flex justify-content-around">
        <img src="/images/{{this}}" class="img-fluid" alt="Image {{this}}">
    </div>

    {{/each}}
</div>