<a href="/"><h2>Home</h2></a>

<form action="/uploads" enctype="multipart/form-data" method="post">
    <input type="file" multiple accept="image/*" required name="photos" />
    <button type="submit">Upload file</button>
</form>

